<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="WorkflowRuntime" 
      type="System.Workflow.Runtime.Configuration.WorkflowRuntimeSection,
        System.Workflow.Runtime, Version=3.0.00000.0, Culture=neutral,
        PublicKeyToken=31bf3856ad364e35" />
    <section name="LocalServices" 
      type="System.Workflow.Activities.ExternalDataExchangeServiceSection, 
        System.Workflow.Activities, Version=3.0.0.0, Culture=neutral, 
        PublicKeyToken=31bf3856ad364e35"/>
  </configSections>
  <WorkflowRuntime Name="ConsoleLocalServices" >
    <CommonParameters>
      <!--Add parameters common to all services-->
    </CommonParameters>
    <Services>
      <!--Add core services here-->
    </Services>
  </WorkflowRuntime>

  <LocalServices >
    <Services>
      <!--Add local services here-->
      <add type="SharedWorkflows.AccountService, 
        SharedWorkflows,Version=1.0.0.0, 
        Culture=neutral, PublicKeyToken=null" />
    </Services>
  </LocalServices >

</configuration>
