<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--connection string for workflow persistence database-->
    <add name="WorkflowPersistence" connectionString=
      "Integrated Security=SSPI;Initial Catalog=WorkflowPersistence;
      Data Source=localhost\SQLEXPRESS;Integrated Security=SSPI" />
  </connectionStrings>
</configuration>