<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="WorkflowRuntime"
    type="System.Workflow.Runtime.Configuration.WorkflowRuntimeSection, 
    System.Workflow.Runtime, Version=3.0.00000.0, Culture=neutral, 
    PublicKeyToken=31bf3856ad364e35" />
  </configSections>
  <WorkflowRuntime Name="WorkflowServiceContainer">
    <Services>
      <add type=
      "System.Workflow.Runtime.Hosting.ManualWorkflowSchedulerService,        
      System.Workflow.Runtime, Version=3.0.0.0, Culture=neutral,
      PublicKeyToken=31bf3856ad364e35"/>
      <add type=
      "System.Workflow.Runtime.Hosting.DefaultWorkflowCommitWorkBatchService,
      System.Workflow.Runtime, Version=3.0.0.0, Culture=neutral,
      PublicKeyToken=31bf3856ad364e35"/>
      <add type=
      "System.Workflow.Runtime.Hosting.SqlWorkflowPersistenceService,
      System.Workflow.Runtime, Version=3.0.00000.0,
      Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      UnloadOnIdle="true" LoadIntervalSeconds="5"
      ConnectionString="Initial Catalog=WorkflowPersistence;
      Data Source=localhost\SQLEXPRESS;Integrated Security=SSPI;"/>
    </Services>
  </WorkflowRuntime>
  <appSettings/>
  <connectionStrings/>
  <system.web>
    <compilation debug="false">
      <assemblies>
        <add assembly="Accessibility, Version=2.0.0.0, 
        Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Workflow.Runtime, Version=3.0.0.0, 
        Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Workflow.ComponentModel, Version=3.0.0.0, 
        Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Workflow.Activities, Version=3.0.0.0, 
        Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <authentication mode="Windows"/>
  </system.web>
</configuration>
