<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <wsHttpContextBinding>
        <binding name="MathBindingConfig"
          openTimeout="00:00:30" sendTimeout="00:00:30"
          receiveTimeout="00:00:30" closeTimeout="00:00:30" >
        </binding>
      </wsHttpContextBinding>
    </bindings>
    <client>
      <!--access console app hosted workflow service-->
      <!--<endpoint address="http://localhost:9501/ProWF/MathServiceStatefulWorkflow.svc"
          binding="wsHttpContextBinding" 
          contract="SharedWorkflows.IMathServiceStateful"
          name="MathEndpoint">
      </endpoint>-->
      <!--access IIS hosted workflow service-->
      <endpoint address="http://localhost/ProWF/MathServiceStatefulWorkflow.svc"
          binding="wsHttpContextBinding"
          bindingConfiguration="MathBindingConfig"
          contract="SharedWorkflows.IMathServiceStateful"
          name="MathEndpoint">
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>