<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.serviceModel>
    <services>
      <service name="SharedWorkflows.MathServiceStatefulWorkflow"
               behaviorConfiguration="ServiceBehavior" >
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9501/ProWF/MathServiceStatefulWorkflow.svc" />
          </baseAddresses>
        </host>

        <endpoint address=""
                  binding="wsHttpContextBinding"
                  contract="SharedWorkflows.IMathServiceStateful" />
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior"  >
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <workflowRuntime name="WorkflowServiceHostRuntime"
                           validateOnCreate="true"
                           enablePerformanceCounters="true">
            <services>
              <add type="System.Workflow.Runtime.Hosting.SqlWorkflowPersistenceService, 
                   System.Workflow.Runtime, Version=3.0.00000.0, 
                   Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                   connectionString="Initial Catalog=WorkflowPersistence;
                   Data Source=localhost\SQLEXPRESS;Integrated Security=SSPI;"
                   LoadIntervalSeconds="1" UnLoadOnIdle= "true" />

            </services>
          </workflowRuntime>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>
